


nav
{
  position: fixed;
  top: -65;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding: 30px;
  text-align: right;
  border-bottom: 1px solid #00c2cb;
}
nav a
{
    padding: 10px 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-size: 1.4rem;
    color: #e0ffff;
    border-radius: 5px;
    letter-spacing: 0.5px;}
}
